name: Tests
on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}, ${{ matrix.dependencies }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['7.3', '7.4', '8.0', '8.1']
        laravel: [6.*, 7.*, 8.*, 9.*, 10.*]
        dependencies: [prefer-lowest, prefer-stable]
        exclude:
          - php: '7.3'
            laravel: 9.*
          - php: '7.4'
            laravel: 9.*
          - php: '8.1'
            laravel: 6.*
          - php: '8.1'
            laravel: 7.*
          - php: '8.1'
            laravel: 8.*
            dependencies: prefer-lowest
        include:
          - php: '8.1'
            laravel: ^8.65
            dependencies: prefer-lowest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-composer-${{ matrix.dependencies }}-${{ hashFiles('composer.lock') }}
          restore-keys: |
            php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-composer-${{ matrix.dependencies }}-
            php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-
            php-${{ matrix.php }}-
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - run: |
          composer require laravel/framework:"${{ matrix.laravel }}" --no-update --no-interaction
          composer update --${{ matrix.dependencies }} --prefer-dist --no-interaction
      - run: vendor/bin/phpunit --testdox --colors=always
