name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}, ${{ matrix.dependencies }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2']
        laravel: ['8.*', '9.*', '10.*', '11.*']
        dependencies: [prefer-lowest, prefer-stable]
        exclude:
          - laravel: 11.*
            php: '8.1'

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-composer-${{ matrix.dependencies }}-${{ hashFiles('composer.lock') }}
          restore-keys: |
            php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-composer-${{ matrix.dependencies }}-
            php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-
            php-${{ matrix.php }}-

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - run: |
          composer require laravel/framework:"${{ matrix.laravel }}" --no-update --no-interaction
          composer update --${{ matrix.dependencies }} --prefer-dist --no-interaction

      - run: vendor/bin/phpunit --testdox --colors=always
